<div class="my-20">
    <div class="relative w-full h-72 bg-cover bg-center lg:h-[45rem] md:h-[38rem] h-[50rem]" style="background-image: url('assets/images/IMG_3932.JPG');">
        <div class="absolute inset-0 bg-black/30 py-15">
            <div class="w-[80%] mx-auto">
                <h2 class="lg:text-[5rem] text-[3rem] text-white text-center font-[800] tracking-wide uppercase pb-5">Discover Cartagena</h2>
                <hr class="border-white">
                <div class="py-14 flex justify-between flex-wrap">
                    <div class="md:w-[70%] w-full">
                        <p class="text-white text-xl font-light text-left md:my-8 my-4 leading-8">
                            Wanting to create good memories, make friends or just enjoy Cartagena, Colombia? 
                            Then welcome to join JUST ASK TOURS, where the plan is for you to taste some of the <strong>Colombian culture and traditions</strong> that will open your mind in a positive way. 
                            <strong>Private concierge services and excursions packages</strong> to any of those beautiful places you might be interested in attending.
                        </p>
                        <button (click)="openWhatsApp()" class="bg-white text-grey-700 px-8 md:my-8 my-4 py-3 rounded-full text-lg hover:bg-grey">Contact us</button>
                    </div>
                    <div class="md:w-[55%] w-full">
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>