
<div id="just-ask-alex" class="flex flex-col md:flex-row items-center justify-center min-h-[80vh] md:w-[80%] mx-auto md:w-[90%] w-[80%] md:space-x-5">
    <!-- Left Side: Text Block -->
    <div class="md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl font-bold text-gray-800 mb-6">ABOUT US!</h1>
      <p class="text-xl font-extralight text-left my-8 leading-8">
        Hosted and created by JUST ASK ALEX & Melissa Martinez, 
        two born and raised Cartageneros willing to offer you their knowledge and help to make your trip a worthy one. 
        Just ask tours with the intentions of being the best operating tour agency all over Cartagena, will be able to guarantee you why so many people talk good things about them.
    </p>
    </div>
  
    <!-- Right Side: Image Grid -->
    <div class="md:w-1/2 grid grid-cols-1 gap-3 md:p-10 p-4 hover:pointer-coarse:size-12">
        <img src="assets/images/_MG_8731-Enhanced-NR.jpg" alt="Image 1" class="w-full h-auto rounded-lg shadow-lg">
    </div>
  </div>

