<div class="w-[88%] md:w-3/4 relative w-3/4 bg-white rounded-[30px] md:shadow-lg p-4 md:p-10 p-6 mx-auto mt-[-4rem] md:mt-[-8rem] space-y-4">
    <h2 class="md:text-5xl text-4xl text-cyan-600 traking-wider font-bold">Where are you heading to?</h2>
    <p class="md:text-xl text-lg font-light">Come and join us at Just Ask Tours to discover the magic of Cartagena</p>

    <!--Barra de busqueda--> 
    <div class="relative md:w-2/4 w-full mt-5">
      <input type="text" placeholder="Buscar..." class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-full focus:ring-2 focus:ring-sky-500 focus:border-sky-500 outline-none">
      
      <!-- Magnifying Glass Icon -->
      <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400" 
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
              d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1010 17.5a7.5 7.5 0 006.65-3.85z" />
      </svg>
    </div>

    <!--Span most popular-->
    <span>Los mas populares:</span>
    <a class="underline ms-3 text-cyan-700 cursor-pointer" href="#top-tours">Islas del Rosario</a>,
    <a class="underline ms-3 text-cyan-700 cursor-pointer" href="#top-tours">Cinco islas</a>

  </div>
