<footer class="sticky md:h-13 h-22 bg-gray-500 absolute bottom-0">
    
    <div class="text-center">
        <div class="flex flex-wrap justify-center px-10">
            <span class="text-white me-1 pt-4"> Just Ask Tours +57 304 4214260 |</span>
            <span class="text-white sm:ms-2 ms-7 pt-4">Just Ask Alex +57 301 2036505</span>
            <a  class="pt-3 opacity-0 sm:opacity-100" href="https://www.instagram.com/justasktours?igsh=MzFydXVkNjcwa240&utm_source=qr"><img class="h-9 md:inline block ms-4" src="assets/images/instagram.png" alt=""></a>
        </div>
    </div>
</footer>
