<div class="w-full md:bg-gray-400 md:h-[5rem] md:mb-[2rem] pb-[8rem] md:pb-5">
</div>

<h2 class="text-center text-4xl text-grey-900 traking-widest font-[700] uppercase">Palenque de Benkos</h2>


<div class="w-11/12 mx-auto flex flex-wrap space-x-10 my-20">
    <div class="relative w-full flex md:w-6/12 w-full justify-center overflow-hidden mx-auto">
        <!-- Image Container -->
        <div class="flex w-full transition-transform duration-500 ease-in-out"
             [ngStyle]="{'transform': 'translateX(-' + (currentIndex * 100) + '%)'}">
          <div *ngFor="let img of images" class="w-full flex-shrink-0 flex justify-center">
            <img [src]="img" class="w-[85vw] h-[60vh] object-cover rounded-lg shadow-lg">
          </div>
        </div>
      
        <!-- Previous Button -->
        <button (click)="prevSlide()" 
                class="absolute top-1/2 left-4 transform -translate-y-1/2 text-gray-500 p-2 rounded-full">
          ◀
        </button>
      
        <!-- Next Button -->
        <button (click)="nextSlide()" 
                class="absolute top-1/2 right-4 transform -translate-y-1/2 text-gray-500  p-2 rounded-full">
          ▶
        </button>
      
        <!-- Dots Indicator -->
        <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
          <span *ngFor="let img of images; let i = index" 
                (click)="goToSlide(i)"
                class="w-3 h-3 rounded-full cursor-pointer"
                [ngClass]="i === currentIndex ? 'bg-white' : 'bg-gray-500'">
          </span>
        </div>
      </div>

      <div class="space-y-6 md:w-5/12 w-full md:mt-0 mt-10">
        <h1 class="text-4xl font-light">Palenque</h1>
        <p class="text-medium tracking-wide">A beautiful place not too far from Cartagena where you’ll learn the history of the first free black people in America, we will visit historical places, squares, museums, monuments and in addition of that you’ll have the opportunity to take a class of the original Bantu language.
          <br class="pt-4" />
          A fantastic tasting of typical drink (Ron Ñeque) also you will always be accompanied by a Bilingual Guide..</p>
        <h2 class="mt-6 font-bold text-xl mb-0">Includes:</h2>
        <ul>
            <li class="tracking-wide">🏨 Pick up at the hotel</li>
            <li class="tracking-wide">🛥️ Round trip transport</li>
            <li class="tracking-wide">🍽️ Typical Lunch (4 Options: Fish, chicken, pork, meat)</li>
            <li class="tracking-wide">🍸 Hydration</li>
            <li class="tracking-wide">🏝️ Typical Rum Tasting</li>
            <li class="tracking-wide">🍸 Language class</li>
        </ul>
        <p class="text-medium font-bold">Departure time: 8:30AM</p>
        
        <p class="text-medium font-bold">Price: $350.000 COP</p>
      </div>

      
</div>

<app-footer></app-footer>



  