<div class="w-full md:bg-gray-400 md:h-[5rem] md:mb-[2rem] pb-[8rem] md:pb-5">
</div>

<h2 class="text-center text-4xl text-grey-900 traking-widest font-[700] uppercase">Bora Bora</h2>


<div class="w-11/12 mx-auto flex flex-wrap space-x-10 my-20">
    <div class="relative w-full flex md:w-6/12 w-full justify-center overflow-hidden mt-10 mx-auto">
        <!-- Image Container -->
        <div class="flex w-full transition-transform duration-500 ease-in-out"
             [ngStyle]="{'transform': 'translateX(-' + (currentIndex * 100) + '%)'}">
          <div *ngFor="let img of images" class="w-full flex-shrink-0 flex justify-center">
            <img [src]="img" class="w-[85vw] h-[60vh] object-cover rounded-lg shadow-lg">
          </div>
        </div>
      
        <!-- Previous Button -->
        <button (click)="prevSlide()" 
                class="absolute top-1/2 left-4 transform -translate-y-1/2 text-gray-500 p-2 rounded-full">
          ◀
        </button>
      
        <!-- Next Button -->
        <button (click)="nextSlide()" 
                class="absolute top-1/2 right-4 transform -translate-y-1/2 text-gray-500  p-2 rounded-full">
          ▶
        </button>
      
        <!-- Dots Indicator -->
        <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
          <span *ngFor="let img of images; let i = index" 
                (click)="goToSlide(i)"
                class="w-3 h-3 rounded-full cursor-pointer"
                [ngClass]="i === currentIndex ? 'bg-white' : 'bg-gray-500'">
          </span>
        </div>
    </div>

    <div class="space-y-6 md:w-5/12 w-full md:mt-0 mt-10">
        <h1 class="text-4xl font-light">Bora Bora - Islas del Rosario</h1>
        <p class="text-medium tracking-wide">En  te ofrecemos la oportunidad para que conozcas una de las playas más hermosas y reconocidas de la ciudad de Cartagena de indias.</p>
        <h2 class="font-bold text-xl">Tour en Área VIP. (Mayores de 18 años)</h2>
        <h2 class="mt-2 font-bold text-xl">El tour incluye:</h2>
        <ul>
            <li class="tracking-wide">✅Transporte en lancha rápida ida y vuelta.</li>
            <li class="tracking-wide">✅Cóctel de bienvenida. (sin licor)</li>
            <li class="tracking-wide">✅Almuerzo especial (Paella bora bora, pasta a la marinera o los platos típicos cartageneros (pescado, pollo a la plancha o vegetariano).</li>
            <li class="tracking-wide">✅Uso de cama playera o asoleadora.</li>
            <li class="tracking-wide">✅Acceso a toda la playa.</li>
        </ul>
        <h2 class="mt-2 font-bold text-xl">🚫 No incluye impuesto Portuario:</h2>
        <ul>
            <li class="tracking-wide"><strong>Punto de encuentro:</strong> Muelle de la bodeguita. (puerta 3).</li>
            <li class="tracking-wide"><strong>Hora de encuentro:</strong> 7:30 am  </li>
            <li class="tracking-wide"><strong>Hora de Zarpe:</strong> 8:20 am </li>
        </ul>
        <p class="text-medium font-bold">Departure 8:00 am - Return 4:00 pm. Price: $420.000 COP</p>
      </div>

      
</div>

<app-footer></app-footer>