<main>
    <div class="w-full">
      <img class="w-full md:h-[37rem] min-h-[25rem]" src="assets/images/IMG_2727.JPG" alt="Logo">
    </div>
  
    <app-action></app-action>

    <h2 class="mt-20 text-center text-5xl text-grey-900 traking-widest font-[500] uppercase">WELCOME TO JUST ASK TOURS!</h2>

    <app-discover-cartagena></app-discover-cartagena>
  
    <app-why-choose-us></app-why-choose-us>
  
    <app-best-tours></app-best-tours>
  
    <app-just-ask-alex></app-just-ask-alex>

    <app-whatsapp-button></app-whatsapp-button>

    <app-footer></app-footer>
  
  </main>