<div id="just-ask-alex" class="flex flex-col md:flex-row items-center justify-center min-h-[80vh] md:w-[80%] mx-auto w-[90%] space-x-5">
    <!-- Left Side: Text Block -->
    <div class="md:w-1/2 text-center md:text-left mt-10">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">Just Ask Alex</h1>
      <p class="text-lg text-gray-600 text-left my-5">
        At our tour and assistant guide service Alex or our team will be able to show you different ways to move in the city while you stay, restaurants, bars, night clubs and many more places to check. Advise you on what to do based on your vacation days. As he is a very fluent local English and Spanish speaker as no other in the city interpretation it's an easier way for you to communicate with him and him to communicate with whoever you want to talk to.
      </p>
    </div>
  
    <!-- Right Side: Image Grid -->
    <div class="md:w-1/2 grid grid-cols-1 gap-3 p-10 hover:pointer-coarse:size-12">
      <a [routerLink]="['/just-ask-alex/tours']">
        <img src="assets/images/IMG_0317.jpg" alt="Image 1" class="w-full h-auto rounded-lg shadow-lg">
      </a>
    </div>
  </div>