<main>
  <div class="w-full md:bg-gray-400 md:h-[5rem] md:mb-[2rem] pb-[8rem] md:pb-5">
  </div>

    <h2 class="text-center text-4xl text-grey-900 traking-widest font-[700] uppercase">CHECK OUT OUR TOURS!</h2>
      
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-12 mx-auto w-[88%] justify-center">
        <!-- Image Card 1 -->
         <div class="w-[100%] md:mt-2 mt-10">  
            <div class="relative w-[100%]">
                <img src="assets/images/IMG_9890.jpg" alt="Tourism Spot" class="w-full h-[25rem] object-cover rounded-lg shadow-lg">
                <div class="absolute top-4 right-4 rounded bg-black/50 text-white text-xs font-bold px-2 py-1">
                    ⭐ 4.6
                </div>
            </div>
            <div class="flex justify-between mt-4 mb-4 ">
                <h3 class="text-medium font-bold tracking-wide">FULL DAY ASSISTANT TOUR</h3>
                <p class="font-bold">Fee: 115 USD</p>
            </div>
            <p class="w-full mb-3">Type of tour focused on assisting you and your friends. Walking around the city feeling safe and knowing which places to head to by following Alex. Beaches, restaurants and night club won't be missed.</p>
         </div>
        
        
        <!-- Image Card 2 -->
        <div class="w-[100%] md:mt-2 mt-10">
            <div class="relative w-[100%]">
                <img src="assets/images/IMG_3654.JPG" alt="Tourism Spot" class="w-full h-[25rem] object-cover rounded-lg shadow-lg">
                <div class="absolute top-4 right-4 rounded bg-black/50 text-white text-xs font-bold px-2 py-1">
                    ⭐ 4.5
                </div>
            </div>
            <div class="flex justify-between mt-4 mb-4">
                <h3 class="text-medium font-bold tracking-wide">DAY TIME ASSISTANT TOUR</h3>
                <p class="font-bold">Fee: 60 USD</p>
            </div>
            <p class="w-full mb-3">Exploring the old city, tasting local food or going to the local areas might be things you'll ask Alex for. He'll be in charge of fill your expectations if it's something different of what we've mentioned.</p>
            
         </div>
        
        <!-- Image Card 3 -->
        <div class="w-[100%] md:mt-2 mt-10">  
          <div class="relative w-[100%]">
              <img src="assets/images/IMG_3579 (1).JPG" alt="Tourism Spot" class="w-full h-[25rem] object-cover rounded-lg shadow-lg">
              <div class="absolute top-4 right-4 rounded bg-black/50 text-white text-xs font-bold px-2 py-1">
                  ⭐ 4.6
              </div>
          </div>
          <div class="flex justify-between mt-4 mb-4 ">
              <h3 class="text-medium font-bold tracking-wide">NIGHT TIME ASSISTANT TOUR</h3>
              <p class="font-bold">Fee: 80 USD</p>
          </div>
          <p class="w-full mb-3">Going around visiting places that Alex has knowledge about will get you busy. Walk around Getsemani and The Old City or out of it feeling safe is a must in this type of tour.</p>
       </div>

         <!-- Image Card 4 -->
         <div class="w-[100%] md:mt-2 mt-10">  
          <div class="relative w-[100%]">
              <img src="assets/images/IMG_3655.JPG" alt="Tourism Spot" class="w-full h-[25rem] object-cover rounded-lg shadow-lg">
              <div class="absolute top-4 right-4 rounded bg-black/50 text-white text-xs font-bold px-2 py-1">
                  ⭐ 4.7
              </div>
          </div>
          <div class=" justify-between mt-4 mb-4 ">
              <h3 class="text-medium font-bold tracking-wide">WHOLE TRIP PRIVATE ASSISTANT TOUR</h3>
              <p class="font-bold">Fee: Depending on the amount of people to host</p>
          </div>
          <p class="w-full mb-3">If you need Alex to assist you from your arriving day till you departing vacation time, or host your bachelor travel party, this is the type of assistant from you and (or) your group of friends must be looking for. Alex will be in charge of getting done anything you might be needing or create an itinerary to keep you enterntained while you are vacationing. </p>
       </div>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center min-h-[80vh] md:w-[80%] mx-auto w-[90%] space-x-5">
      <!-- Left Side: Text Block -->
      <div class="md:w-1/2 text-center md:text-left mt-10">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Just Ask CAR</h1>
        <p class="text-lg text-gray-600 text-left my-5">
          Having the right driver to drive you around to places you want to go such as:
        </p>
        <ul class="text-left">
          <li><img class="w-7 inline me-5 mb-2" src="assets/images/alfiler-de-mapa.png" alt="">Palenque</li>
          <li><img class="w-7 inline me-5" src="assets/images/alfiler-de-mapa.png" alt="">Totumo Volcano</li>
        </ul>
        <p class="text-lg text-gray-600 text-left my-5">
          Or just to have Alex driving next to you for a full day, night time, or daytime, this is the type of service you want. Find more or Just Ask Alex by clicking on his WhatsApp link.
        </p>
        <ul class="ms-4 text-left">
          <li class="list-disc text-medium text-gray-600 text-left my-2">Full day with the car (day and night) 140USD</li>
          <li class="list-disc text-medium text-gray-600 text-left my-2">Just night service with the car 100USD</li>
          <li class="list-disc text-medium text-gray-600 text-left my-2">Daytime with the car 80USD</li>
          
        </ul>
      </div>
    
      <!-- Right Side: Image Grid -->
      <div class="md:w-1/2 grid grid-cols-1 gap-3 p-10 hover:pointer-coarse:size-12">
        <a>
          <img src="assets/images/IMG_6974.jpg" alt="Image 1" class="w-full h-auto rounded-lg shadow-lg">
        </a>
      </div>
    </div>
    <app-whatsapp></app-whatsapp>
</main>