<div class="w-full md:bg-gray-400 md:h-[5rem] md:mb-[2rem] pb-[8rem] md:pb-5">
</div>

<h2 class="text-center md:my-5 md:text-6xl text-3xl text-grey-800 traking-widest font-[300] uppercase px-5">Islas del Rosario - Plan 5 Islas Vip</h2>


<div class="w-11/12 mx-auto flex flex-wrap space-x-10 my-20">
    <div class="relative w-full flex md:w-6/12 w-full justify-center overflow-hidden mx-auto">
        <!-- Image Container -->
        <div class="flex w-full transition-transform duration-500 ease-in-out"
             [ngStyle]="{'transform': 'translateX(-' + (currentIndex * 100) + '%)'}">
          <div *ngFor="let img of images" class="w-full flex-shrink-0 flex justify-center">
            <img [src]="img" class="w-[85vw] md:h-[80vh] h-full object-cover rounded-lg shadow-lg">
          </div>
        </div>
      
        <!-- Previous Button -->
        <button (click)="prevSlide()" 
                class="absolute top-1/2 left-4 transform -translate-y-1/2 text-gray-500 p-2 rounded-full">
          ◀
        </button>
      
        <!-- Next Button -->
        <button (click)="nextSlide()" 
                class="absolute top-1/2 right-4 transform -translate-y-1/2 text-gray-500  p-2 rounded-full">
          ▶
        </button>
      
        <!-- Dots Indicator -->
        <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
          <span *ngFor="let img of images; let i = index" 
                (click)="goToSlide(i)"
                class="w-3 h-3 rounded-full cursor-pointer"
                [ngClass]="i === currentIndex ? 'bg-white' : 'bg-gray-500'">
          </span>
        </div>
      </div>

      <div class="space-y-5 md:w-5/12 w-full md:mt-0 mt-10 px-4">
        <h1 class="text-4xl font-light">5 Islas</h1>

        <h2 class="mt-3 font-bold text-xl mb-0">Visitará los siguientes lugares:</h2>
        <ul class="font-light">
            <li class="tracking-wide">🏝️ Isla Bocachica</li>
            <li class="tracking-wide">🛥️ Isla Grande </li>
            <li class="tracking-wide">🍽️ Isla Cocotera o Playa Encantada</li>
            <li class="tracking-wide">🍸 Isla Cholón</li>
            <li class="tracking-wide">🏝️ Isla Barú (Playa Mambo)</li>
        </ul>

        <h2 class="mt-3 font-bold text-xl mb-0">INCLUYE:</h2>
        <ul class="font-light list-disc ms-4">
            <li class="tracking-wide">Salida desde el Muelle Los Pegasos 🐎 </li>
            <li class="tracking-wide">Transporte en bote deportivo con música 🛥️</li>
            <li class="tracking-wide">Deliciosa ensalada de frutas 🍉🍍 </li>
            <li class="tracking-wide">1 Botella de agua </li>
            <li class="tracking-wide">Free Shots desde la salida hasta las Islas del Rosario 🥃</li>
            <li class="tracking-wide">Coordinador bilingüe </li>
            <li class="tracking-wide">Recorrido y explicación histórica del Fuerte de Bocachica 🏰 </li>
            <li class="tracking-wide">🏝️ Parada opcional en avioneta sumergida </li>
            <li class="tracking-wide">Snorkel en Isla Grande O ir al oceanario (Entrada no incluida)🤿</li>
            <li class="tracking-wide">Visita a la Isla Privada Cocotera o Playa Encantada donde te brindara una bebida de bienvenida 🍹/<li>
            <li class="tracking-wide">Visita a la Isla Barú Playa Blanca Mambo Beach Club </li>
            <li class="tracking-wide">Bono de $30.000 COP para almuerzo a la carta 🐟🍗🥗🦞🍔  </li>
            <li class="tracking-wide">Seguro de accidentes.</li>
        </ul>

        <p class="text-medium font-bold mb-2"><strong>Horario de Salida:</strong> 7:45 - 8:20 am. </p>
        <p class="text-medium font-bold mb-2"><strong>Horario de Regreso:</strong> 4:00 - 4:30 pm. </p>
        <p class="text-medium font-bold">Precio: $300.000 COP</p>
      </div>

      
</div>

<app-footer></app-footer>
